<div class="layout layout--top pt--3 px--4 pb--4">
  <div class="grid grid--cols-5 gap--6 h--full">
    {% for day in days %}
      <div class="outline p--3 text--center h--full">
        <div class="font--bold text--lg lg:title--base mb--0" style="line-height: 1.1;">{{ day.date | date: "%a" | upcase }}</div>
        <div class="label text--xs lg:text--sm mb--3" style="line-height: 1.1;">{{ day.date | date: "%m/%d" }}</div>
        <div class="title title--small lg:title--base font--bold mb--2" style="line-height: 1.2;">{{ day.main }}</div>
        {% if day.sides != "" %}
          <div class="divider my--2"></div>
          <div class="description text--xs lg:description--base" style="line-height: 1.2; opacity: 0.85;">{{ day.sides }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div><div class="title_bar">
  <span class="title">{{ school_name }}</span>
  <span class="instance">Lunch Menu</span>
</div>
