<div class="layout layout--top pt--2 px--4 pb--4">
  <table class="table w--full m--0">
    <tbody>
      {% for day in days %}
        <tr>
          <!-- Column 1: Date & Day -->
          <td class="w--25 text--center py--3 lg:py--5">
            <div class="font--bold text--lg lg:title--base" style="line-height: 1.1;">{{ day.date | date: "%a" | upcase }}</div>
            <div class="label text--sm lg:text--lg" style="line-height: 1.1;">{{ day.date | date: "%m/%d" }}</div>
          </td>
          <!-- Column 2: Main Dish & Sides -->
          <td class="py--3 lg:py--5 pl--4">
            <div class="title title--small lg:title--base font--bold mb--1" style="line-height: 1.2;">{{ day.main }}</div>
            {% if day.sides != "" %}
              <div class="description text--xs lg:description--base mt--1" style="line-height: 1.2; opacity: 0.7;">
                <span class="font--bold">Sides: </span>{{ day.sides }}
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ school_name }}</span>
  <span class="instance">Lunch Menu</span>
</div>
