<div class="layout layout--top pt--2 px--4 pb--4">
  <div class="grid grid--cols-5 gap--4 h--full">
    {% for day in days %}
      <div class="outline p--2 text--center h--full">
        <div class="font--bold text--md lg:text--lg mb--0" style="line-height: 1.1;">{{ day.date | date: "%a" | upcase }}</div>
        <div class="label text--xs lg:text--sm mb--2" style="line-height: 1.1;">{{ day.date | date: "%m/%d" }}</div>
        
        <div class="title title--small lg:title--base font--bold clamp--2" style="line-height: 1.2;">{{ day.main_1 }}</div>
        {% if day.main_2 != "" %}
          <div class="divider my--1"></div>
          <div class="title title--small lg:title--base font--bold clamp--2" style="line-height: 1.2;">{{ day.main_2 }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div><div class="title_bar">
  <span class="title">{{ school_name }}</span>
  <span class="instance">Lunch Menu</span>
</div>
